@model MechanicCompany.Models.Mechanic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Details about employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var companyMail = ViewBag.CompanyMail;
}
@if (SignInManager.IsSignedIn(User))
{
    @if (User.Identity.Name == companyMail)
    {
        <h1>Details about employee</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoleInCompany)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoleInCompany)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-left"></i> Back to employees</a>
        </div>
    }
    else
    {
        <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
        <br />
        <div>
            <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
        </div>
    }
}
else
{
    <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
    <br />
    <div>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
    </div>
}
