@model MechanicCompany.Models.Car

@{
    ViewData["Title"] = "Details about car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details about car</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineVolume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineVolume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineTypeOfFuel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineTypeOfFuel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarTypeOfBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarTypeOfBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-chevron-circle-left"></i> Back to cars</a>
</div>
