@model IEnumerable<MechanicCompany.Models.Car>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var companyMail = ViewBag.CompanyMail;
}
@if (SignInManager.IsSignedIn(User))
{
    <h1><i class="fa fa-car"></i> - Added Cars</h1>
    <hr />
    @using (Html.BeginForm())
    {
        <p>
            @if (User.Identity.Name != companyMail)
            {
                <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Car</a>
            }
            <span style="float: right; padding-bottom: 16px;">
                @Html.TextBox("searchString", null, new { @class = "form-text-sm" })
                <button type="submit" class="btn btn-group-sm"><i class="fa fa-search" title="Search"></i></button>
            </span>
        </p>
    }
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>
                <th>
                    Car Details
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.ApplicationUser.FullName)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullNameOfCar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="margin: 4px;" class="btn btn-outline-success"><i class="fa fa-edit" title="Edit"></i> </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="margin: 4px;" class="btn btn-outline-danger"><i class="fa fa-minus-circle" title="Delete"></i> </a>
                    <a asp-action="Details" asp-route-id="@item.Id" style="margin: 4px;" class="btn btn-outline-primary"><i class="fa fa-info-circle" title="Details"></i> </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1><i class="fa fa-times-circle" style="color: darkred;"></i> Ooops something gone wrong!</h1>
    <br />
    <div>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-circle-left"></i> Go to Home Page</a>
    </div>
}
