@model IEnumerable<MechanicCompany.Models.Car>

@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-car"></i> - Added Cars</h1>
<hr />
@using (Html.BeginForm())
{
    <p>
        @if (User.Identity.Name != "mikolaj.otreba@o2.pl")
        {
            <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Car</a>
        }
        <span style="float: right; padding-bottom: 16px;">
            @Html.TextBox("searchString", null, new { @class = "form-text-sm" })
            <button type="submit" class="btn btn-group-sm"><i class="fa fa-search" title="Search"></i></button>
        </span>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fa fa-edit" title="Edit"></i> </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa fa-minus-circle" title="Delete"></i> </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fa fa-info-circle" title="Details"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
